{% extends 'base.html' %} {%block title%} About {%endblock%} {%block content%}
<h1 class="text-center p-2 my-2">About CureMeds</h1>
<p class='p-5'>
  <b>CureMeds</b> has over two decades of experience in the healthcare sector,
  and is known for providing quality healthcare and valuable experience to all
  domestic and international patients. Our healthcare offerings are supported by
  a team of compassionate and dedicated medical professionals who have rich
  knowledge and experience in their respective domains.</p> {%endblock%}
</p>
