{% extends 'base.html' %} {%block title%} Contact {%endblock%} {%block content%}

<div class="row featurette">
  <div class="col-md     p-5">
    <h2 class="featurette-heading text-center">
      Contact CureMeds <span class="text-muted">We will take care of you!</span>
    </h2>
    <p class="lead text-center">
      CureMeds are
      strategically located in the heart of the cities of Mumbai,Chennai,Hyderabad respectively, and provide residential
      accommodation to doctors and staff members. It is also an academic and
      research institute, and a business and convention centre.
    </p>
  </div>

</div>
{%endblock%}
